/* 4 External */

body{
    padding-bottom: 500px;
    
}

h3{
    color: green;
}

p{
    color: blueviolet;
}

/* classes */

.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}
/* padding significa espaçamento interno /

/* id */
 #exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
 }

/* ordem das regras */
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 4px solid green;
}

/* Nome de cores */

.color-name{
    
    color: crimson;
}

/* HEX */
.hex{
    color: #55a398;
}

.hex-2{
    color: #ff00f2;
}

/* Aprofundando mais em Hex*/

.simple-hex{
    color: #333;
}

.simple-hex-2{
    color: #a5f;
}

/* rgb */

.rgb{
    color: rgb(255, 0, 0);
}

.mixed-rgb{
    color: rgb(200, 8, 0);
}

/* rgba - mexe com a opacidade da cor*/

.rgba{
    color: rgba(201, 99, 76, 0.3);
}

.oppacite-rgba{
    color: rgb(31, 37, 92, 0.1);
}

/* hsl*/

.hsl{
   color: hsl(500, 150%, 40%);
}

.hsl-2{
    color: hsl(201, 88%, 49%);
}

/* background color */
.bg {
    background-color: #000000;
    color: yellow;
}

.bg-2{
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}
